<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <h1 class="p-5 text-lg font-semibold text-center text-gray-900 bg-white">
    Create New Species
  </h1>

  <form [formGroup]="speciesForm" (ngSubmit)="onSubmit()" class="w-2/3 mx-auto">
    <!-- Name Field -->
    <div class="relative mb-6">
      <div class="relative text-gray-500 focus-within:text-gray-900">
        <input
          type="text"
          formControlName="name"
          class="block w-full h-11 px-4 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none"
          placeholder="Enter name"
        />
        <p
          *ngIf="speciesForm.get('name')?.invalid && (speciesForm.get('name')?.dirty || speciesForm.get('name')?.touched)"
          class="mt-1 text-sm text-red-600"
        >
          Name is required
        </p>
      </div>
    </div>

    <!-- Difficulty Level Field -->
    <div class="relative mb-6">
      <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">
        Difficulty Level
      </label>
      <div class="relative text-gray-500 focus-within:text-gray-900">
        <select
          formControlName="difficulty"
          class="block w-full h-11 px-4 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none"
        >
          <option value="">Select difficulty level</option>
          <option value="COMMON">Common</option>
          <option value="RARE">Rare</option>
          <option value="EPIC">Epic</option>
          <option value="LEGENDARY">Legendary</option>
        </select>
        <p
          *ngIf="speciesForm.get('difficulty')?.invalid && (speciesForm.get('difficulty')?.dirty || speciesForm.get('difficulty')?.touched)"
          class="mt-1 text-sm text-red-600"
        >
          Species type is required
        </p>
      </div>
    </div>

    <!-- Category Field -->
    <div class="relative mb-6">
      <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">
        Category
      </label>
      <div class="relative text-gray-500 focus-within:text-gray-900">
        <select
          formControlName="category"
          class="block w-full h-11 px-4 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none"
        >
          <option value="" selected>Choose category</option>
          <option value="SEA">Sea</option>
          <option value="BIG_GAME">Big Game</option>
          <option value="BIRD">Bird</option>
        </select>
        <p
          *ngIf="speciesForm.get('category')?.invalid && (speciesForm.get('category')?.dirty || speciesForm.get('category')?.touched)"
          class="mt-1 text-sm text-red-600"
        >
          Category is required
        </p>
      </div>
    </div>

    <!-- Minimum Weight Field -->
    <div class="relative mb-6">
      <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">
        Minimum Weight
      </label>
      <div class="relative text-gray-500 focus-within:text-gray-900">
        <input
          type="number"
          formControlName="minimumWeight"
          class="block w-full h-11 px-4 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none"
          placeholder="Enter minimum weight"
        />
        <p
          *ngIf="speciesForm.get('minimumWeight')?.invalid && (speciesForm.get('minimumWeight')?.dirty || speciesForm.get('minimumWeight')?.touched)"
          class="mt-1 text-sm text-red-600"
        >
          Minimum weight is required
        </p>
        <p
          *ngIf="speciesForm.get('minimumWeight')?.errors?.['min']"
          class="mt-1 text-sm text-red-600"
        >
          Minimum weight must be positive
        </p>
      </div>
    </div>

    <!-- Points Field -->
    <div class="relative mb-6">
      <label class="flex items-center mb-2 text-gray-600 text-sm font-medium">
        Points
      </label>
      <div class="relative text-gray-500 focus-within:text-gray-900">
        <input
          type="number"
          formControlName="points"
          class="block w-full h-11 px-4 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none"
          placeholder="Enter points"
        />
        <p
          *ngIf="speciesForm.get('points')?.invalid && (speciesForm.get('points')?.dirty || speciesForm.get('points')?.touched)"
          class="mt-1 text-sm text-red-600"
        >
          Points are required
        </p>
        <p
          *ngIf="speciesForm.get('points')?.errors?.['min']"
          class="mt-1 text-sm text-red-600"
        >
          Points must be positive
        </p>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="flex items-center justify-center">
      <button
        type="submit"
        [disabled]="!speciesForm.valid || isLoading"
        class="w-52 h-12 shadow-sm rounded-full bg-indigo-600 hover:bg-indigo-800 transition-all duration-700 text-white text-base font-semibold leading-7"
      >
        {{ isLoading ? "Creating..." : "Create" }}
      </button>
    </div>
  </form>
</div>
