<div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="padding-top: 20px">
  <a routerLink="../species/create" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4">Create Species</a>
  <table style="margin-top: 10px"
    class="w-full text-sm text-left rtl:text-right text-gray-500 dar:text-gray-400"
  >
    <caption
      class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dar:text-white dar:bg-gray-800"
    >
      SPECIES LIST

      <span class="float-end">
        <a routerLink="/admin/species/create">
          <lord-icon
            src="https://cdn.lordicon.com/pdsourfn.json"
            trigger="hover"
            stroke="bold"
            colors="primary:#7166ee,secondary:#ffffff,tertiary:#7166ee"
            style="width: 40px; height: 40px"
          >
          </lord-icon>
        </a>
      </span>
    </caption>
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dar:bg-gray-700 dar:text-gray-400"
    >
    <tr>
      <th scope="col" class="px-6 py-3">Name</th>
      <th scope="col" class="px-6 py-3">Category</th>
      <th scope="col" class="px-6 py-3">Minimum Weight</th>
      <th scope="col" class="px-6 py-3">Difficulty</th>
      <th scope="col" class="px-6 py-3">Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loading State -->
    <tr *ngIf="isLoading">
      <td colspan="5" class="px-6 py-4 text-center">
        <div class="flex justify-center items-center">
          <div
            class="w-6 h-6 mr-2 border-2 border-t-2 border-gray-900 rounded-full animate-spin"
          ></div>
          <span class="text-gray-900">Loading...</span>
        </div>
      </td>
    </tr>

    <!-- Species List -->
    <tr *ngFor="let specie of species; index as i"
      class="bg-white border-b dar:bg-gray-800 dar:border-gray-700"
    >
      <th
        scope="row"
        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dar:text-white"
      >
        {{ specie.name }}
      </th>
      <td class="px-6 py-4">{{ specie.category }}</td>
      <td class="px-6 py-4">{{ specie.minimumWeight }}</td>
      <td class="px-6 py-4">{{ specie.difficulty }}</td>
      <td class="px-6 py-4">
        <button type="button" class="me-2">
          <lord-icon
            src="https://cdn.lordicon.com/zfzufhzk.json"
            trigger="hover"
            stroke="light"
            state="hover-line"
            style="width: 30px; height: 30px"
          >
          </lord-icon>
        </button>
        <button type="button" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4" (click)="delete(specie.id)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
