<div class="relative p-4">
  <h1 class="text-2xl font-bold text-gray-900 da:text-white mb-6">
    COMPETITIONS LIST
  </h1>

  <!-- Error Toast -->
  <div
    *ngIf="error"
    id="toast-danger"
    class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-100 bg-red-700 rounded-lg shadow da:text-gray-400 da:bg-gray-800 fixed bottom-10 right-0 z-50"
    role="alert"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg da:bg-red-800 da:text-red-200"
    >
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"
        />
      </svg>
      <span class="sr-only">Error icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">{{ error.toString() }}</div>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="flex justify-center items-center my-10">
    <div
      class="w-8 h-8 border-4 border-indigo-600 border-t-transparent rounded-full animate-spin"
    ></div>
    <span class="ml-2 text-gray-900 da:text-gray-100">Loading...</span>
  </div>

  <!-- Competitions List -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let competition of competitions; let i = index"
      class="bg-white rounded-lg shadow-lg da:bg-gray-800 da:shadow-gray-700"
    >
      <div class="p-5">
        <h2 class="text-lg font-semibold text-gray-900 da:text-white mb-2">
          {{ competition.location }}
        </h2>
        <p class="text-gray-700 da:text-gray-300">
          Date: {{ competition.date | date: 'longDate' }}
        </p>
        <p class="text-gray-700 da:text-gray-300">
          Min Participants: {{ competition.minParticipants }}
        </p>
        <p class="text-gray-700 da:text-gray-300">
          Max Participants: {{ competition.maxParticipants }}
        </p>
        <p class="text-gray-700 da:text-gray-300">
          Participation Count: {{ competition.participationCount }}
        </p>
      </div>
      <div
        class="flex justify-between items-center p-4 bg-gray-100 da:bg-gray-700"
      >
        <button
          (click)="addParticipation(competition.id)"
          type="button"
          class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700"
        >
          Participate
        </button>
        <a
          [routerLink]="'/member/competitions/' + competition.id"
          class="btn bg-green-400 text-white px-4 py-2 rounded-md hover:bg-green-500"
        >
          Show Podium
        </a>
      </div>
    </div>
  </div>
</div>
